<app-scroll [threshold]="200" (ThresholdReachedEvent)="loadMoreEcosystem()" className="bg-green-400 w-full h-full flex flex-col overflow-auto scroll">


    <!-- Side bar header  -->
    <div class="flex py-2 justify-between items-center text-black">

        <div *ngIf="userProfile" [matMenuTriggerFor]="menu"
            class="block p-7 rounded shadow-lg shadow-gray-700 relative text-xl text-slate-200 bg-slate-900 mx-2">
            <span class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"> {{userProfile.username[0] }}
            </span>
        </div>

        <a *ngIf="!userProfile"
            class="block p-7 rounded shadow-lg shadow-gray-700 relative text-xl text-slate-200 bg-slate-900 mx-2"
            [routerLink]=" ['/login'] ">

            <span *ngIf="!userProfile" class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                ? </span>
        </a>
    </div>



    <mat-menu #menu="matMenu" xPosition="after" class="bg-black w-36">
        <button (click)="logout()" mat-menu-item>
            <div class="flex justify-between items-center align-middle">
                Logout
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </div>
        </button>
    </mat-menu>


    <mat-tab-group class="" (selectedIndexChange)="handleTabChange($event)" preserveContent>

        <mat-tab label="MarketPlace" class="">
            <ul class="px-2">
                <li *ngFor="let ecosystem of  marketplaceEcosystems" class="my-2">
                    <app-universe-card [visible]="tabIdx===0" (DropEvent)="propagateDropEvent(ecosystem)"
                        [config]="ecosystem">
                    </app-universe-card>
                </li>
            </ul>
        </mat-tab>

        <mat-tab label="Private">
            <ul class="px-2">
                <li *ngFor="let ecosystem of ecosystems" class="my-2">
                    <app-universe-card [visible]="tabIdx===1" (DropEvent)="propagateDropEvent(ecosystem)"
                        [config]="ecosystem">
                    </app-universe-card>
                </li>
            </ul>
        </mat-tab>


    </mat-tab-group>

</app-scroll>