version: '3.8'
services:

  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "3500:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  app-node:
    image: game-of-life:latest
    container_name: app-node
    ports:
      - "3000:3000"
    depends_on:
      - "dynamodb-local"
    links:
      - "dynamodb-local"
    environment:
      ENVIRONMENT: "DEV"
      AWS_ACCESS_KEY_ID: 'DUMMYIDEXAMPLE'
      AWS_SECRET_ACCESS_KEY: 'DUMMYEXAMPLEKEY'
      AWS_REGION: 'eu-west-1'
      PORT: 3000
      PUBLIC_DIR: '/game-of-life/public'
      DYNAMODB_LOCAL: "http://dynamodb-local:3500"