<app-overlay>
    <form class=" py-2 px-10 w-[65ch] text-black  max-w-full m-auto relative" [formGroup]="loginForm">
        <a [routerLink]="['/']" class="absolute top-0 right-0 p-5"> Close </a>
        
        <h1 class=" text-center ">Login new account </h1>

        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label> password </mat-label>
            <input matInput type="password" class="block" formControlName="password">
        </mat-form-field>


        <button (click)="login()" mat-flat-button color="primary" class="w-full block">Login</button> <br/>


        <span class="block my-4"> Don't have an account <a [routerLink]="['/sign-in']"> create account </a></span>
    </form>
</app-overlay>