<div class=" w-full h-full relative bg-zinc-800 overflow-hidden">

    <div #configPanel class="absolute w-72 h-full opacity-0" [@isOpen_panel]="panel.isOpen"
        id="configuration-panel-container">
        <app-configuration-panel (DropEvent)="dropInCanvas($event)"> </app-configuration-panel>
    </div>

    <div #appCanvas class="w-full h-full bg-zinc-900 canvas-container origin-left rounded-2xl shadow-black/80 shadow-2xl" (mousedown)="close()"
        [@isOpen_canvas]="panel.isOpen" id="random">
        <app-canvas (InitializationEvent)="handleCanvasInitialization($event)" (AreaSelectionEvent)="showCanvasPopup($event)" class=""></app-canvas>
    </div>

    <app-popup class="fixed top-0 left-0 z-20" [position]="canvasPopupStyle"[configuration]="canvasPopupConfig" [visible]="canvasPopupIsVisible">
       <button (click)="saveComponent()" class="bg-green-500 active:bg-green-200"> save component </button>
    </app-popup>

</div>

<router-outlet></router-outlet>